<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Crealand | Responsive Landing page Template</title>
	
    <!-- This file is part of a site template for sale at ThemeForest.net.
         See: http://themeforest.net/user/dilipkumar/portfolio
         Copyright 2012 Dilip Kumar -->

    <!-- CSS-->
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/foundation.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/icons.css" />
	<link rel="stylesheet" type="text/css" href="css/icons2.html" />

    <!-- GOOGLE WEBFONT-->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- FAVICON-->
	<link rel="shortcut icon" href="images/favicon.ico">

    <!-- //SCRIPTS -->
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>

</head>
<body>

<!-- Header Section -->
<div id="intro">

<div class="row">

			<div class="six columns intro-image">
				<a href="index.html"><img src="demo/intro/image.jpg" alt=""/></a>
			</div>
			<div class="six columns intro-video">
				<a href="index_video.html"><img src="demo/intro/video.jpg" alt=""/></a>
			</div>
</div>
</div>
<!-- Header Section -->

</body>
</html>